/*
    * Color scheme
    * Background color: #eaefef
    * Code background: #d4d9d9
    * Main color: #00558e
    * Secondary color: #0b3075
    */
:root {
    --color-1: #eaefef;
    --color-2: #d4d9d9;
    --color-3: #0c7a9c;
    --color-3: #00558e;
    --color-4: #0b3075;
}

body{
    background-color:var(--color-1);
    color:var(--color-3);
    font-family:Arial;
    padding-bottom: 2em;
}

a{
    color: var(--color-3);
}

ul.topBar{
    background-color:var(--color-3);
    text-transform:uppercase;
    margin:0;
    padding:0;
    overflow:hidden;
    list-style-type:none;
}

li.topLink a{
    color:var(--color-1);
    float:left;
    display:block;
    text-align:center;
    padding:0.875rem 1rem;
    text-decoration:none;
}

li.topLink a:hover{
    background-color:var(--color-4);
}

.search{
    color:var(--color-3);
    background-color:var(--color-1);
    border-color:var(--color-3);
    padding:0.75rem 1.25rem 0.75rem;
    width:90%;
    border-radius:0.3125rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15em;
    font-family:IBM Plex Mono;
}

.main{
    margin:auto;
    width:60%;
}

.icon{
    font-size:12.5rem;
    margin-top:0.625rem;
    margin-bottom:0.625rem;
}

@media only screen and (orientation: portrait){
    .main{
        margin:auto;
        width:90%;
    }
}

div.article a{
    text-decoration:none;
    display:block;
}

img {
    width:75%;
}
