<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>404 Page Not Found</title>
		<link href="CSS/main.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" sizes="48x48" href="/icons/favicon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon16.png">
	</head>
	<body>
		<ul class="topBar">
			<li class="topLink"><a href="https://jacobmcdonnell.com/">home</a></li>
			<li class="topLink"><a href="https://github.com/JacobMcDonnell">github</a></li>
			<li class="topLink"><a href="https://jacobmcdonnell.com/articles">articles</a></li>
		</ul>
		<div class="main">
			<center>
				<h1>404 Page Not Found</h1>
				<p>Maybe you want to go to one of the pages in nav bar instead.</p>
			</center>
		</div>
	</body>
</html>
