<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Raspberry Pi Rocky Linux Webserver</title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/favicon.ico" rel="icon" sizes="any">
		<meta name="description" content="A tutorial on setting up a webserver on a Raspberry Pi with Rocky Linux 8"/>
		<meta name="author" content="Jacob McDonnell"/>
		<meta name="keywords" content="rocky,rocky linux,linux,raspberry pi,webserver,nginx,certbot,website"/>
	</head>
	<body>
		<ul class="topBar">
			<li class="topLink"><a href="/">home</a></li>
			<li class="topLink"><a href="/articles">articles</a></li>
			<li class="topLink"><a href="/rss">rss feed</a></li>
		</ul>
		<div class="main">
			{{body|safe}}
		</div>
	</body>
</html>
