<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Raspberry Pi Rocky Linux Webserver</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" sizes="48x48" href="/icons/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon16.png">
        <meta name="description" content="A tutorial on setting up a webserver on a Raspberry Pi with Rocky Linux 8"/>
        <meta name="author" content="Jacob McDonnell"/>
        <meta name="keywords" content="rocky,rocky linux,linux,raspberry pi,webserver,nginx,certbot,website"/>
    </head>
    <body>
        <ul class="topBar">
            <li class="topLink"><a href="/">home</a></li>
            <li class="topLink"><a href="/articles">articles</a></li>
            <li class="topLink"><a href="/rss">rss feed</a></li>
        </ul>
        <div class="main">
            {{body|safe}}
        </div>
        <footer class="LicenseFooter">
            <p>The content for this site is <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>. The <a href="https://codeberg.org/JacobMcDonnell/JacobMcDonnell.com">code</a> for this site is <a href="https://opensource.org/license/MIT">MIT</a>.</p>
        </footer>
    </body>
</html>
