<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Code}} {{.Message}}</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" sizes="48x48" href="/logos/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/logos/favicon32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/logos/favicon16.png">
    </head>
    <body>
        <ul class="topBar">
            <li class="topLink"><a href="/">home</a></li>
            <li class="topLink"><a href="https://github.com/JacobMcDonnell">github</a></li>
            <!--<li class="topLink"><a href="https://jacobmcdonnell.com/articles">articles</a></li>-->
        </ul>
        <div class="main">
            <center>
                <h1>{{.Code}} {{.Message}}</h1>
            </center>
        </div>
    </body>
</html>
