<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-control" content="public">
		<meta name="description" content="This is the personal website for the real Jacob McDonnell.
		Feel free to look around, you might find something interesting."/>
		<meta name="author" content="Jacob McDonnell"/>
		<meta name="keywords" content="Jacob,McDonnell,Jacob McDonnell,jacob,mcdonnell,jacob mcdonnell"/>
		<title>Jacob McDonnell</title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" sizes="48x48" href="/icons/favicon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon16.png">
	</head>
	<body>
		<ul class="topBar">
			<li class="topLink"><a href="/">home</a></li>
			<li class="topLink"><a href="https://github.com/JacobMcDonnell">github</a></li>
			<li class="topLink"><a href="/articles">articles</a></li>
		</ul>
		<div class="main">
			{{body|safe}}
		</div>
	</body>
</html>
